<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.teamo.biu.infinity.monitor.dao.YarnSummaryMapper" >
  <resultMap id="BaseResultMap" type="site.teamo.biu.infinity.fweb.common.entity.monitor.YarnSummary" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="live_node_manager_nums" property="liveNodeManagerNums" jdbcType="INTEGER" />
    <result column="dead_node_manager_nums" property="deadNodeManagerNums" jdbcType="INTEGER" />
    <result column="unhealthy_node_manager_nums" property="unhealthyNodeManagerNums" jdbcType="INTEGER" />
    <result column="submitted_apps" property="submittedApps" jdbcType="INTEGER" />
    <result column="running_apps" property="runningApps" jdbcType="INTEGER" />
    <result column="pending_apps" property="pendingApps" jdbcType="INTEGER" />
    <result column="completed_apps" property="completedApps" jdbcType="INTEGER" />
    <result column="killed_apps" property="killedApps" jdbcType="INTEGER" />
    <result column="failed_apps" property="failedApps" jdbcType="INTEGER" />
    <result column="allocated_mem" property="allocatedMem" jdbcType="BIGINT" />
    <result column="allocated_cores" property="allocatedCores" jdbcType="INTEGER" />
    <result column="allocated_containers" property="allocatedContainers" jdbcType="INTEGER" />
    <result column="available_mem" property="availableMem" jdbcType="BIGINT" />
    <result column="available_cores" property="availableCores" jdbcType="INTEGER" />
    <result column="pending_mem" property="pendingMem" jdbcType="BIGINT" />
    <result column="pending_cores" property="pendingCores" jdbcType="INTEGER" />
    <result column="pending_containers" property="pendingContainers" jdbcType="INTEGER" />
    <result column="reserved_mem" property="reservedMem" jdbcType="BIGINT" />
    <result column="reserved_cores" property="reservedCores" jdbcType="INTEGER" />
    <result column="reserved_containers" property="reservedContainers" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>